<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Character encoding set to UTF-8 for broad language support -->
    <meta charset="UTF-8">
    <!-- Compatibility mode for Internet Explorer -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Viewport settings for responsive web design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Page title set to '404' -->
    <title>404</title>
</head>

<body>
    <!-- Heading indicating 404 error page -->
    <h1>404</h1>
</body>
</html>
